 <div class="flags">
    <div class="flag-container">
        <svg width="100%">       
            <image id="flag-svg" width="100%" height="100%" xlink:href="https://upload.wikimedia.org/wikipedia/commons/3/36/Flag_of_Albania.svg"/>    
        </svg>
        <div id="country-name"></div>
    </div>
</div>
<button id="next-flag-button" class="button">Next Flag</button>
<input class="flags-number" type="number" id="numberInput" inputmode="numeric" pattern="[2-8]*" step="1" value="4">
<script src="flags.js"></script>