<div id="flags-question-text" style="font-weight: bold; font-size: 2rem"></div>
<div id="flag-question-container"></div>
<div class="flags-streak-text">Streak: 0</div>
<div class="flag-answers">
    <div class="flag-container">     
        <div class="svg-container">
            <img id="flag-svg" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Flag_of_Albania.svg" class="svg-image">
        </div>
        <div id="country-name" class="country-name"></div>
        <button id="flags-choose-button" class="button">Choose</button>
    </div>
</div>
<div id="flags-response-text" class='flags-response-text' style="display: hidden"></div>
<div class="flag-options">
    <button id="flags-game-mode" class="button" style="width: 175px;">Flag Mode</button>
    <input class="flags-number" type="number" id="numberInput" inputmode="numeric" pattern="[2-8]*" step="1" value="4">
</div>
<script src="flags.js"></script>