<!DOCTYPE html>
<html>
<head>
  <title>Owen Hey</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <img class="background-bottom" src="/png/background-bottom.png" onload="this.style.opacity = 1; this.style.bottom = 0">
  <div class="color-pallete">
    <div class="color-swatch"></div>
    <div class="color-swatch"></div>
    <div class="color-swatch"></div>
    <div class="color-swatch"></div>
    <div class="color-swatch"></div>
    <div class="color-swatch"></div>
    <div class="color-swatch"></div>
    <div class="color-swatch"></div>
  </div>
  <div class="main-content">
    <!-- <div id="gradient" class="background-gradient"></div> -->
    <div class="shadow-left"></div>
    <div class="shadow-right"></div>
    <div class="spacer"></div>
    <div class="header">
      <a href="/" class="button">Home</a>
      <a href="/about" class="button">About</a>
      <a href="/portfolio" class="button">Portfolio</a>
    </div>
    <div class="title"><%- title %></div>
    <div id="page-content">
      <%- body %>
    </div>
  </div>
  <!-- <script src='background-effect.js'></script> -->
</body>
</html>