<div class="portfolio-carousel">
   <div class="portfolio-card">
        <img src="/png/isles.png">
        <div class="portfolio-card-content">
            <h2>Isles of Ilkmaar</h2>
            <p>Data-driven MMO developed for middle schoolers.</p>
            <button class = "button">See more</button>
        </div>
    </div>
    <div class="portfolio-card">
        <img src="/png/polygunners.png">
        <div class="portfolio-card-content">
            <h2>Polygunners</h2>
            <p>My capstone game, developed solo and published on Steam.</p>
            <button class = "button">See more</button>
        </div>
    </div>
    <div class="portfolio-card">
        <img src="/png/nunaka.png">
        <div class="portfolio-card-content">
            <h2>Nunaka</h2>
            <p>Award-winning educational game for the Chugachmiut tribe.</p>
            <button class = "button">See more</button>
        </div>
    </div>
    <div class="portfolio-card">
        <img src="/png/black-hand.png">
        <div class="portfolio-card-content">
            <h2>MMG</h2>
            <p>Unique multiplayer magic game, based around drawing spells with your mouse.</p>
            <button class = "button">See more</button>
        </div>
    </div>
</div>