<div class="portfolio-carousel">
   <div class="portfolio-card">
        <img src="/png/isles.png">
        <div class="portfolio-card-content">
            <h2>Isles of Ilkmaar</h2>
            <p>Data-driven MMO developed for middle schoolers.</p>
            <button class = "button">See more</button>
        </div>
    </div>

    <div class="portfolio-card">
        <img src="/png/polygunners.png">
        <div class="portfolio-card-content">
            <h2>Polygunners</h2>
            <p>My capstone game, developed solo and published on Steam.</p>
            <button class = "button">See more</button>
        </div>
    </div>

    <div class="portfolio-card">
        <img src="/png/polygunners.png">
        <div class="portfolio-card-content">
            <h2>Polygunners</h2>
            <p>My capstone game, developed solo and published on Steam.</p>
            <button class = "button">See more</button>
        </div>
    </div>
</div>