body {
  background-color: #fdf0d5;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif; }

.title {
  font-size: 3rem;
  font-weight: bold; }

.main-content {
  width: 80vw;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e5d0ee;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; }

.page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: inherit;
  width: 100%; }

.shadow-left {
  position: absolute;
  z-index: inherit-1;
  width: 20px;
  left: -20px;
  top: -10px;
  height: calc(100% + 10px);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); }

.shadow-right {
  position: absolute;
  z-index: inherit-1;
  width: 20px;
  right: -20px;
  top: -10px;
  height: calc(100% + 10px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); }

.color-pallete {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 75px;
  background-color: white;
  left: 0;
  top: 0;
  border-bottom-right-radius: 5px;
  background-color: antiquewhite;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.233); }

.color-swatch {
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
  aspect-ratio: 1/1;
  border-radius: 5px; }

.color-swatch:nth-child(1) {
  background-color: #780000; }

.color-swatch:nth-child(2) {
  background-color: #c1121f; }

.color-swatch:nth-child(3) {
  background-color: #fdf0d5; }

.color-swatch:nth-child(4) {
  background-color: #003049; }

.color-swatch:nth-child(5) {
  background-color: #669bbc; }

.color-swatch:nth-child(6) {
  background-color: #e5d0ee; }

.color-swatch:nth-child(7) {
  background-color: #713b8a; }

.color-swatch:nth-child(8) {
  background-color: #c5a2d4; }

.color-swatch:hover {
  background-color: white;
  border-radius: 10px;
  transition-duration: .1s; }

.background-bottom {
  position: fixed;
  z-index: -3;
  width: 100%;
  bottom: -100px;
  opacity: 0;
  transition: opacity 5s, bottom 5s; }

.header {
  z-index: 1;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px; }

.button {
  display: inline-block;
  text-decoration: none;
  width: auto;
  font-size: 20px;
  color: #713b8a;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #e5d0ee;
  border: solid 2px;
  transition: background-color .1s ease-in-out, border .1s ease-in-out, color .1s ease-in-out; }

.button.selected {
  border: #713b8a solid 2px;
  background-color: #713b8a;
  color: white; }

.button:active {
  border: #713b8a solid 2px;
  background-color: #713b8a;
  color: white; }

.background-gradient {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  z-index: inherit-3;
  overflow: hidden;
  background: radial-gradient(at 50% 50%, #ffffff49 0, rgba(0, 0, 0, 0) 80%); }

.button:hover {
  border: #c5a2d4 solid 2px;
  background-color: #c5a2d4; }

.circular-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid black;
  overflow: hidden; }

.circular-image img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  object-fit: cover; }

.about-section {
  width: 100%;
  font-size: 16pt;
  text-align: left; }

.portfolio-carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  padding-bottom: 15px;
  scrollbar-color: black #e5d0ee; }

.portfolio-card {
  border-radius: 10px;
  border: solid black 2px;
  height: 400px;
  min-width: 300px;
  aspect-ratio: 0.75;
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: start; }
  .portfolio-card > * {
    flex: 1;
    width: 100%;
    max-height: 50%;
    object-fit: cover; }
  .portfolio-card > .portfolio-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    box-sizing: border-box;
    background: linear-gradient(to top, #713b8a, #c5a2d4); }
    .portfolio-card > .portfolio-card-content > h2, .portfolio-card > .portfolio-card-content p {
      margin: 0px; }
    .portfolio-card > .portfolio-card-content > h2 {
      font-size: 1.75rem; }

.flag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 10px;
  gap: 10px; }
  .flag-container .svg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0; }
  .flag-container .svg-image {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.flags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center; }

.flags-number {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center; }
