body {
  background-color: #202020;
  background: linear-gradient(to right, #202020, #424242, #202020);
  margin: 0;
  padding: 0; }

.main-content {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background-color: #bedbee;
  padding: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: black; }
