:root {
  --background-color: #f3e8d5;
  --really-dark: #111111;
  --background-light: rgb(242, 221, 182);
  --background-dark: rgb(249, 229, 164);
  --brown: rgb(107, 48, 11);
  --white: #FAFAFA;
  --lightwhite: rgb(255, 241, 221);
  --lightgreen: rgb(157, 194, 133);
  --green: #6a9666ff;
  --darkgreen: rgb(48, 85, 45);
  --darkergreen: rgb(33, 59, 31);
  --orange: #e28650ff;
  --lightbrown: rgb(233, 193, 150);
  --lesslightbrown: rgb(207, 164, 117);
  --lighterbrown: rgb(252, 210, 166);
  --darkbrown: rgb(206, 156, 104);
  --shadowbrown: rgb(202, 175, 146);
  --grid-color: #ecb77d88;
  --black: #373737;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

body{
  color: var(--brown);
}


ul{
  list-style: none;
}

body{
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, button{
  font-weight: 600;
}

.background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  user-select: none;
  z-index: -1000;
}

.background-grid{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0, var(--grid-color) 1px, transparent 1px), linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 28px 28px;
  overflow: hidden;
  z-index: -999;
}

.center-horizontally{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-main-content{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.main-content{
  width: 80%;
  max-width: 800px;
  height: 100%;
  background-color: var(--lightbrown);
  box-shadow:  -15px 0 8px -5px var(--shadowbrown),
               15px 0 8px -5px var(--shadowbrown);
  padding: 20px 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: all;
}

.header{
  flex-grow: 0;
  top: 0;
  width: 100%;
  /* height: 70px; */
}

.header-list{
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

.vine-button{
  width: 5em;
  height: 2.5em;
  border-radius: .5em;
  border: none;
  font-size: clamp(8px, 2.5vw, 24px);
  background-color: var(--lightgreen);
  box-shadow: 3px 6px 3px var(--shadowbrown);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: 500;
  cursor: pointer;
  transition: .08s background-color linear, .08s color linear;
}

.vine-button.tab-selected,
.vine-button:active,
.vine-button:focus,
.vine-button:hover{
  background-color: var(--darkgreen);
  color: var(--lightwhite);
  outline: none;
}

.vine-button.tab-selected > .vine-mask,
.vine-button:active > .vine-mask,
.vine-button:focus > .vine-mask,
.vine-button:hover > .vine-mask{
  width: 100%;
}

.vine-mask{
  position: absolute;
  width: 0%;
  transition-duration: .5s;
  transition-property: width;
  height: 2em;
  bottom: -1.31em;
  left: .1em;
  overflow: hidden;
  border-radius: 0 35px 35px 0;
}

.vine-img{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1.4em;
  width: auto;
}

@keyframes expand {
  from {
      height: 0;
  }
  to {
      height: 120%;
  }
}

.vine-left-mask{
  position: absolute;
  height: 120%;
  top: 0;
  left: -7.5%;
  width: 15%;
  border-radius: 0 0 200px 200px;
  overflow: hidden;
  animation: expand 3.5s linear forwards;
  pointer-events: none;
  user-select: none;
}

.vert-vine-left{
  position: absolute;
  left: -41%;
  height: 100%;
  width: 150%;
  background-image: url(src/assets/png/vert-vine.png);
  background-size: 100%;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.vine-right-mask {
  position: absolute;
  height: 120%;
  width: 15%;
  top: 0;
  right: -7.5%; 
  border-radius: 0 0 200px 200px;
  overflow: hidden;
  animation: expand 3.5s linear forwards;
  pointer-events: none;
  user-select: none;
}

.vert-vine-right { 
  position: absolute;
  left: -21%;
  top: 0;
  height: 100%;
  width: 150%;
  background-image: url(src/assets/png/vert-vine-r.png);
  background-size: 100%;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.scrolling-content{
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.scrolling-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolling-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.leaves{
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

.leaf-x{
  position: absolute;
  animation: blowX 3s infinite ease-in-out;
}

.leaf-y{
  position: absolute;
  animation: blowY 3s infinite ease-in-out;
}

.leaf-parent{
  position: absolute;
  width: 0px;
  height: 0px;
  animation: moveDownFade 5s forwards linear;
}

.leaf{
  position: absolute;
  left: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
  animation: blowRotate 3s infinite ease-in-out;
  user-select: none;
}

@keyframes moveDownFade{
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 100%;
  }
  1.5%{
    transform: translate(0, 2px) scale(1.5);
  }
  2.5%{
    transform: translate(0, 3px) scale(1);
  }
  50% {
    transform: translate(0, 100px);
    opacity: 100%;
  }
  80% {
    transform: translate(0, 200px);
    opacity: 0%;
  }
  100% {
    transform: translate(0, 300px);
    opacity: 0%;
  }
}

@keyframes blowRotate{
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blowX {
  0% {
    transform: translate(0, 0);
  }
  30%{
    transform: translate(-30px, 0);
  }
  70% {
    transform: translate(30px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes blowY {
  0% {
    transform: translate(0, 0);
  }
  15%{
    transform: translate(0, 3px);
  }
  30%{
    transform: translate(0, -1px);
  }
  50% {
    transform: translate(0, 5px);
  }
  70%{
    transform: translate(0, -3px);
  }
  85%{
    transform: translate(0, 2px);
  }
  100%{
    transform: translate(0, 0);
  }
}

.home-content{
  margin-top: 20px;
}

.home-content > h1, h2, h3{
  margin-bottom: 20px;
}

.home-content > p{
  margin-bottom: 10px;
}

.window-links{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
  gap: 5%;
  width: 75%;
  margin-bottom: 50px;
  position: relative;;
}

.window-link{
  background-color: var(--lightgreen);
  /* border: 2px solid var(--brown); */
  box-shadow: 3px 6px 10px var(--shadowbrown);
  aspect-ratio: 1;
  border-radius: 10%;
  padding: 5%;
  font-size: 16pt;
  position: relative;
  overflow: hidden;
  color: var(--lightwhite);
  outline: none;
}

.window-link-title{
  color: var(--brown);
  font-weight: 500;
  transition: color .15s;
}

.window-link:hover,
.window-link:active,
.window-link:focus{
  cursor: pointer;
}

.window-link:hover .window-link-gradient,
.window-link:active .window-link-gradient,
.window-link:focus .window-link-gradient{
  opacity: 100%;
}

.window-link:hover .window-link-title,
.window-link:active .window-link-title,
.window-link:focus .window-link-title{
  color: var(--lightwhite);
}

.window-link img{
  position: absolute;
  z-index: 2;
  bottom: -20%;
  left: -10%;
  transition: bottom .25s;
  width: 120%;
}

.window-link:hover img,
.window-link:active img,
.window-link:focus img{
  bottom: -10%;
}

.window-link-gradient{
  opacity: 0%;
  transition: .15s opacity;
  position: absolute;
  background-image: linear-gradient(var(--darkgreen), transparent);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.post-button-latest{
  width: 100%;
  display: flex;
  position: relative;
  padding: .5rem;
  gap: .5rem;
  height: clamp(10%, 20vw, 20%);
  border: none;
  background-color: var(--lightgreen);
  border-radius: 1rem;
  color: var(--brown);
  text-align: left;
  font-size: 11pt;
  box-shadow: 5px 5px 5px var(--shadowbrown);
  transition: .15s background-color;
  margin-bottom: 1rem;
  outline: none;
}

.post-button-latest .post-date{
  position: absolute;
  top: .75rem;
  right: .75rem;
}

@media (max-width: 1000px) {
  .post-button-latest .post-date {
    bottom: .75rem;
    top: auto;
  }
}

.post-button-latest h4,
.post-button-latest span,
.post-button-latest p{
  transition: .15s color;
  color: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-button-latest:hover,
.post-button-latest:active,
.post-button-latest:focus{
  background-color: var(--darkgreen);
  color: var(--lightwhite);
}

.post-button-latest h4{
  margin-bottom: .5rem;
  font-size: clamp(10pt, 2.5vw, 18pt);
}

.post-button-latest img{
  aspect-ratio: 1;
  height: 100%;
  border-radius: 1rem;
}

.post-button-card {
  text-align: left;
  width: 100%;
  border: none;
  border-radius: 1rem;
  min-height: 100%;
  overflow: hidden;
  background-color: var(--lightgreen);
  padding-bottom: .5rem;
  transition: .15s color, .15s background-color;
  box-shadow: 5px 5px 5px var(--shadowbrown);
  color: var(--brown);
  outline: none;
  display: flex;
  flex-direction: column;
}

.post-button-card:hover,
.post-button-card:active,
.post-button-card:focus {
  background-color: var(--darkgreen);
  color: var(--lightwhite);
}

.post-button-card > .img-container {
  max-width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  /* border-radius: 1rem; */
}

.post-button-card > .img-container > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: .5rem;
  border-radius: 1rem;
}

.post-button-card h4,
.post-button-card p,
.post-button-card span{
  margin: .25rem .5rem;
}

.post-button-card h4{
  font-size: 12pt;
}

.post-button-card p, 
.post-button-card span{
  font-size: 10pt;
}

.post-card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 2 equal columns */
  gap: 20px;
  place-items: center;
  position: relative;
}

.portfolio-spotlight{
  margin-top: 1rem;
  width: 100%;
  min-height: 200px;
  background-color: var(--lightgreen);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--shadowbrown);
  display: flex;
  position: relative;
}

.portfolio-spotlight-image-section{
  margin: .5rem;
  width: calc(50% - 1rem);
  position: relative;
  border-radius: 10x;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.portfolio-spotlight-image-section img{
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.portfolio-spotlight-image-section .caroseul-buttons{
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  position: relative;;
  border-radius: 0 0 10px 10px;
}

.caroseul-buttons .circles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.caroseul-buttons .circles div{
  width: clamp(10px, 1vw, 15px);
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--green);
}

.caroseul-buttons .circles div.selected{
  background-color: var(--darkgreen);
}

.portfolio-spotlight-text-section{
  margin: .5rem;
  width: 50%;
  height: fit-content;
}

.p-s-caroseul-button{
  width: 15%;
  aspect-ratio: 1;
  border-radius: 25px;
  background-color: var(--green);
  transition: background-color .15s, color .15s;
  position: relative;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.516);
}

.p-s-caroseul-button:hover,
.p-s-caroseul-button:active{
  background-color: var(--darkgreen);
}

.p-s-caroseul-button svg{
  width: 60%;
  height: 60%;
  fill: none;
  stroke: var(--lightwhite);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.portfolio-spotlight a{
  color: var(--brown);
}

.portfolio-buttons{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  position: relative;
  justify-content: space-between;
}

.portfolio-button{
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: var(--lightgreen);
  width: 200px;
  max-width: 30%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  aspect-ratio: .9;
  box-shadow: 5px 5px 5px var(--shadowbrown);
  color: var(--brown);
  position: relative;
}

.portfolio-button:hover,
.portfolio-button:focus{
  color: var(--lightwhite);
}

.portfolio-button:hover h4,
.portfolio-button:focus h4{
  background-image: linear-gradient(to bottom, var(--darkgreen) 75%, transparent 100%);
}

.portfolio-button h4{
  font-size: clamp(11pt, 2vw, 16pt);
  text-align: left;
  position: absolute;
  margin-bottom: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem;
  z-index: 1;
  padding-bottom: 3rem;
  background-image: linear-gradient(to bottom, var(--lightgreen) 65%, transparent 100%);
}

.portfolio-button .image-container{
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.portfolio-button .image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.about-top > *{
  background-color: red;
}

.resume-button{
  background-color: var(--darkgreen);
  color: var(--lightwhite);
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 10px;
  font-size: 14pt;
  transition: background-color .15s;
}

.resume-button:hover,
.resume-button:active,
.resume-button:focus{
  background-color: var(--darkergreen);
}