:root {
  --background-color: #f7e9d5;
  --really-dark: #111111;
  --background-light: rgb(242, 221, 182);
  --background-dark: rgb(249, 229, 164);
  --brown: rgb(107, 48, 11);
  --white: #FAFAFA;
  --lightwhite: rgb(255, 241, 221);
  --lightgreen: rgb(169, 201, 166);
  --green: #6a9666ff;
  --darkgreen: rgb(37, 77, 34);
  --orange: #e28650ff;
  --lightbrown: rgb(231, 197, 161);
  --lesslightbrown: rgb(207, 164, 117);
  --lighterbrown: rgb(252, 210, 166);
  --darkbrown: rgb(206, 156, 104);
  --shadowbrown: rgb(202, 175, 146);
  --grid-color: #ecb77d88;
  --black: #373737;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  color: var(--brown);
  font-weight: 400;
}


ul{
  list-style: none;
}

body{
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, button{
  font-weight: 600;
}

.background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  user-select: none;
  z-index: -1000;
}

.background-grid{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0, var(--grid-color) 1px, transparent 1px), linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 28px 28px;
  overflow: hidden;
  z-index: -999;
}

.center-horizontally{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-main-content{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.main-content{
  width: 1000px;
  max-width: 80%;
  height: 100%;
  background-color: var(--lightbrown);
  box-shadow:  -15px 0 8px -5px var(--shadowbrown),
               15px 0 8px -5px var(--shadowbrown);
  padding: 20px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  pointer-events: all;
}

.header{
  flex-grow: 0;
  top: 0;
  width: 100%;
  height: 70px;
}

.header-list{
  display: flex;
  gap: 20px;
  position: relative;
  height: 100%;
}

.vine-button{
  width: 200px;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-size: 20pt;
  background-color: var(--lightgreen);
  box-shadow: 3px 6px 3px var(--shadowbrown);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: 500;
  cursor: pointer;
}

.vine-button.tab-selected,
.vine-button:active,
.vine-button:focus,
.vine-button:hover{
  background-color: var(--darkgreen);
  color: var(--lightwhite);
  outline: none;
}

.vine-button.tab-selected > .vine-mask,
.vine-button:active > .vine-mask,
.vine-button:focus > .vine-mask,
.vine-button:hover > .vine-mask{
  width: 100%;
}

.vine-mask{
  position: absolute;
  width: 0%;
  transition-duration: .5s;
  transition-property: width;
  height: 50px;
  bottom: -28px;
  left: 5px;
  overflow: hidden;
  border-radius: 0 35px 35px 0;
}

.vine-img{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 45px;
  width: auto;
}

@keyframes expand {
  from {
      height: 0;
  }
  to {
      height: 120%;
  }
}

.vine-left-mask{
  position: absolute;
  height: 120%;
  top: 0;
  left: -49px;
  width: 100px;
  border-radius: 0 0 200px 200px;
  overflow: hidden;
  animation: expand 3.5s linear forwards;
  pointer-events: none;
  user-select: none;
}

.vert-vine-left{
  position: absolute;
  left: -43px;
  height: 100%;
  width: 150px;
  background-image: url(src/assets/png/vert-vine.png);
  background-size: 150px;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.vine-right-mask {
  position: absolute;
  height: 120%;
  width: 100px;
  top: 0;
  right: -54px; 
  border-radius: 0 0 200px 200px;
  overflow: hidden;
  animation: expand 3.5s linear forwards;
  pointer-events: none;
  user-select: none;
}

.vert-vine-right { 
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  width: 150px;
  background-image: url(src/assets/png/vert-vine-r.png);
  background-size: 150px;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.scrolling-content{
  flex-grow: 1;
  overflow-y: scroll;
}

.scrolling-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolling-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.leaves{
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

.leaf-x{
  position: absolute;
  animation: blowX 3s infinite ease-in-out;
}

.leaf-y{
  position: absolute;
  animation: blowY 3s infinite ease-in-out;
}

.leaf-parent{
  position: absolute;
  width: 0px;
  height: 0px;
  animation: moveDownFade 5s forwards linear;
}

.leaf{
  position: absolute;
  left: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
  animation: blowRotate 3s infinite ease-in-out;
  user-select: none;
}

@keyframes moveDownFade{
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 100%;
  }
  1.5%{
    transform: translate(0, 2px) scale(1.5);
  }
  2.5%{
    transform: translate(0, 3px) scale(1);
  }
  50% {
    transform: translate(0, 100px);
    opacity: 100%;
  }
  80% {
    transform: translate(0, 200px);
    opacity: 0%;
  }
  100% {
    transform: translate(0, 300px);
    opacity: 0%;
  }
}

@keyframes blowRotate{
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blowX {
  0% {
    transform: translate(0, 0);
  }
  30%{
    transform: translate(-30px, 0);
  }
  70% {
    transform: translate(30px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes blowY {
  0% {
    transform: translate(0, 0);
  }
  15%{
    transform: translate(0, 3px);
  }
  30%{
    transform: translate(0, -1px);
  }
  50% {
    transform: translate(0, 5px);
  }
  70%{
    transform: translate(0, -3px);
  }
  85%{
    transform: translate(0, 2px);
  }
  100%{
    transform: translate(0, 0);
  }
}

.home-content{
  margin-top: 20px;
}

.home-content > h1, h2, h3{
  margin-bottom: 20px;
}

.home-content > p{
  margin-bottom: 10px;
}

.window-links{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
  gap: 40px;
  width: 75%;
  margin-bottom: 50px;
}

.window-link-content{
  aspect-ratio: 1;
  background-image: linear-gradient(rgb(194, 222, 235), rgb(185, 240, 255));
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  padding: 10px 30px;
  box-shadow: 15px 15px 10px rgba(105, 48, 15, 0.253);
  border: 10px var(--lesslightbrown) solid;
  overflow: hidden;
  position: relative;
}

.window-link-content a{
  font-size: 30pt;
  color: var(--brown);
  font-weight: bold;
}

.window-link-header{
  font-size: 20pt;
  font-weight: 600;
}

.window-slats{
  position: absolute;
  left: -12px;
  top: 0px;
  width: calc(100% + 20px);
  height:  calc(100% + 20px);
  user-select: none;
  pointer-events: none;
  background-image: linear-gradient(0, var(--lesslightbrown) 10px, transparent 0px), linear-gradient(90deg, var(--lesslightbrown) 10px, transparent 0px);
  background-size: 50% 50%;
  z-index: 1;
}

.window-link img{
  width: 120%;
  position: absolute;
  bottom: -100%;
  left: -10%;
  transition: bottom .3s, left .3s;
}

.window-link:hover img{
  bottom: 0%;
}