@import url(base.css);

*{
    pointer-events: all;
}

.flags-base{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    padding: 0;
    border: none;
}

.flags-content{
    overflow-y: scroll;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    position: relative;
}

.flags-base span{
    font-size: 16pt;
}

.flags-nav-header{
    flex-grow: 0;
    top: 0;
    height: 70px;
    pointer-events: all;
}

.header-list{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
}

.flags-options-dialog{
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
    margin: auto;
    background-color: var(--lighterbrown);
    padding: 10px;
    border: none;
}

.flag-mode-settings{
    display: flex;
    gap: 10px;
}

.flag-mode-settings .vine-button{
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
}

.flag-answer-display{
    max-width: 800px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.flag-name-button{
    background-color: var(--buttonbase);
    box-shadow: 3px 6px 3px var(--shadowbrown);
    border-radius: 5px;
    padding: 1em;
    border: none;
    color: var(--brown);
    transition: .08s background-color linear, .08s color linear;
}

.flag-name-button:hover{
    background-color: var(--darkgreen);
    color: var(--lightwhite);
}