@import url(base.css);

*{
    pointer-events: all;
}

.flags-base{
    position: absolute;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    padding: 0;
    border: none;
}

.flags-content{
    overflow-y: scroll;
    width: fit-content;
    height: 800px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    position: relative;
}

.flags-content > *{
    pointer-events: all;
}

.flag-question-answer{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
    pointer-events: all;
}

.flag-question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 300px;
    pointer-events: all;
}

.flags-base span{
    font-size: 16pt;
}

.flags-nav-header{
    flex-grow: 0;
    top: 0;
    height: 70px;
    pointer-events: all;
}

.header-list{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
}

.flags-options-dialog{
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
    margin: auto;
    background-color: var(--lighterbrown);
    padding: 15px;
    border: none;
    position: relative;
}

.flags-options-dialog > h3{
    margin: .5rem 0;
}

.flag-mode-settings{
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.flag-mode-settings > .vine-button{
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
}

.flag-mode-settings > .vine-button.selected {
    background-color: red;
}

.flag-answer-display{
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.flag-name-button{
    background-color: var(--buttonbase);
    box-shadow: 3px 6px 3px var(--shadowbrown);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1rem;
    border: none;
    color: var(--brown);
    transition: .08s background-color linear, .08s color linear;
}

.flag-name-button:not(:disabled):hover{
    background-color: var(--darkgreen);
    color: var(--lightwhite);
}

.flag-button-holder{
    width: 18%;
    min-width: 150px;
    aspect-ratio: 1.25;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    background-color: var(--lightwhite);
    box-shadow: 3px 6px 3px var(--shadowbrown);
    transition: .08s background-color linear, .08s color linear;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 5px;
}

.flag-button-holder:not(.no-input):not(:disabled):active,
.flag-button-holder:not(.no-input):not(:disabled):hover{
    background-color: var(--green);
}

.flag-button-holder > img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    border: 2px solid black;
}

.flag-toggle-button{
    width: fit-content;
    height: 2.5em;
    border-radius: .5em;
    border: none;
    font-size: 10pt;
    background-color: var(--buttonbase);
    box-shadow: 3px 6px 3px var(--shadowbrown);
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    transition: .08s background-color linear, .08s color linear;
    user-select: none;
}

.flag-toggle-button:disabled{
    cursor: default;
}

.flag-toggle-button.selected{
    background-color: var(--darkgreen);
    color: white;
}

.flag-toggle-button:disabled{
    opacity: 50%;
}

.flag-toggle-button:not(.selected):not(:disabled):active,
.flag-toggle-button:not(.selected):not(:disabled):hover {
    background-color: var(--green);
    color: var(--lightwhite);
    outline: none;
}

.flag-feedback-text{
    height: 2rem;
    width: 100%;
    text-align: center;
}

.flag-feedback-text.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }

    10% {
        transform: translate3d(-5px, 2px, 0);
    }

    20% {
        transform: translate3d(5px, -2px, 0);
    }

    30% {
        transform: translate3d(-4px, 2px, 0);
    }

    40% {
        transform: translate3d(4px, -1px, 0);
    }

    50% {
        transform: translate3d(-3px, 1px, 0);
    }

    60% {
        transform: translate3d(2px, -1px, 0);
    }

    70% {
        transform: translate3d(-2px, 1px, 0);
    }

    80% {
        transform: translate3d(1px, -0.5px, 0);
    }

    90% {
        transform: translate3d(-0.5px, 0.5px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.flag-count-slider{
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: var(--lightwhite);
    outline: none;
    border-radius: 5px;
    box-shadow: 3px 6px 3px var(--shadowbrown);
}

.flag-count-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--darkgreen);
    cursor: pointer;
}

.flag-count-slider:disabled::-webkit-slider-thumb{
    cursor: default;
}

.flag-count-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--darkgreen);
    cursor: pointer;
}

.flag-count-slider:disabled:-moz-range-thumb {
    cursor: default;
}

.flag-game-input{
    width: 20rem;
    height: 2.25rem;
    font-size: 16pt;
    padding: .25rem;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    transition: background-color .15s linear;
    box-shadow: 3px 6px 3px var(--shadowbrown);
}

.flags-auto-options{
    display: flex;
    flex-direction: column;
    height: 200px;
}

.flag-game-input-auto-option{
    width: 20rem;
    height: 2rem;
    font-size: 12pt;
    padding: .25rem;
    border: 1.5px solid black;
    border-radius: 5px;
    outline: none;
    transition: background-color .15s linear, color .15s linear;
    background-color: white;
}

.flag-game-input-auto-option:hover,
.flag-game-input-auto-option:active,
.flag-game-input-auto-option:focus{
    background-color: var(--darkgreen);
    color: white;
}

.flag-game-input:focus{
    background-color: white;
}

.globe-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    min-width: 550px;
    min-height: 550px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.717);
}

.highscores-table{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.highscore-row{
    display: flex;
}

.highscore-region{
    text-align: left;
}

.highscore-time {
    margin-left: auto;
    text-align: right;
}