@import url(base.css);

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

h1{
    margin-bottom: 2rem;
}

h3{
    margin-bottom: 1rem;
    font-size: 16pt;
}

p{
    margin-bottom: 1rem;
    font-size: 13pt;
    line-height: 1.25;
}

.single-post-date{
    float: right;
    text-align: right;
    margin-top: .4rem;
}