// Colors
$pallete-1: #780000;
$pallete-2: #c1121f;
$pallete-3: #fdf0d5;
$pallete-3-1: #dbccad;
$pallete-4: #003049;
$pallete-5: #669bbc;
$pallete-6: #e5d0ee;
$pallete-7: #713b8a;
$pallete-8: #c5a2d4;
$palettes: $pallete-1, $pallete-2, $pallete-3, $pallete-4, $pallete-5, $pallete-6, $pallete-7, $pallete-8;

body {
  background-color: $pallete-3;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  width: 80vw;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(190, 219, 238);
  border-left: solid 7px;
  border-right: solid 7px;
  border-color: $pallete-4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

p {
  font-size: 48pt;
  font-weight: bold;
  user-select: none;
}

.color-pallete {
  display: flex;
  flex-direction: column;
  position:absolute;
  width: 75px;
  background-color: white;
  left: 0;
  top: 0;
  border-bottom-right-radius: 5px;
  background-color: antiquewhite;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.233);
}

.color-swatch {
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

// This is SASS loop, making a variable i as an index
@for $i from 1 through length($palettes) {
  .color-swatch:nth-child(#{$i}) {
    background-color: nth($palettes, $i);
  }
}

.color-swatch:hover{
  background-color: white;
  border-radius: 10px;
  transition-duration: .1s;
}

.random {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: $pallete-2;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  transition: left 0.4s ease-in-out, top 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20pt;
  font-weight: bold;
  user-select: none;
}

.background-bottom {
  position: fixed;
  z-index: -1;
  width: 100%;
  bottom: -100px;
  opacity: 0;
  transition: 
    opacity 5s,
    bottom 5s
}

.header{
  height: 50px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.button{
  display: inline-block;
  width: auto;
  font-size: 20px;
  color: $pallete-7;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: $pallete-6;
  border: $pallete-7 solid 2px;
  transition: 
    border-radius .1s ease-in-out, 
    background-color .1s ease-in-out,
    border .1s ease-in-out,
    color .1s ease-in-out
}

.button:hover {
  border: $pallete-8 solid 2px;
  border-radius: 12px;
  background-color: $pallete-8;
}

.button:active {
  border: $pallete-7 solid 2px;
  background-color: $pallete-7;
  color: white;
}